@media (min-width: 991px) {
	.wrapper {
		flex-wrap: nowrap;
		gap: 120px;
	}

	.wrapper__left {
		flex: 1 50%;
	}
}

@media (min-width: 600px) {
	body {
		padding: 30px;
	}
}

@media (min-width: 500px) {
	.me {
		flex-wrap: nowrap;
		margin-bottom: 30px;
	}

	.avatar {
		padding-right: 10px;
	}

	.section__list {
		max-height: 200px;
	}
}

@media (min-width: 390px) {
	.section__link.links a:not(:last-child) {
		padding-right: 15px;
	}

	.section__link {
		white-space: nowrap;
	}
}
