:root {
	--black: #292a2f;
	--white: #fff;
}

html {
	background-color: var(--black);
}

body {
	font-family: "Roboto Flex", sans-serif;
	font-size: 14px;

	color: var(--black);
	background-color: var(--white);

	padding: 15px;

	@media (min-width: 768px) {
		max-width: 80%;
		padding: 30px;
		margin: 30px auto;
		border-radius: 21px;
	}

	@media (min-width: 1400px) {
		max-width: 1400px;
	}
}

h3 {
	font-size: 16px;
	font-weight: 700;
}

h4,
strong {
	font-weight: 600;
}

.--desk {
	display: none;

	@media (min-width: 1400px) {
		display: block;
	}
}

.--mob {
	@media (min-width: 1400px) {
		display: none;
	}
}

.scrollbar::-webkit-scrollbar {
	width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
	background: var(--black);
	border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
	background: var(--white);
	border-radius: 8px;
	background-clip: content-box;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 4rem;
	padding-top: 30px;
}

.wrapper__left {
	flex: 0;

	@media (min-width: 1400px) {
		flex: 0 40%;
	}
}

.wrapper__right {
	flex: 1 100%;

	@media (min-width: 1400px) {
		flex: 1;
	}
}

.me {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex: 1 100%;
	gap: 10px;

	@media (min-width: 575px) {
		flex-wrap: nowrap;
		margin-bottom: 30px;
	}
}

.avatar {
	@media (min-width: 575px) {
		padding-right: 10px;
	}
}

.avatar__img {
	border-radius: 50%;
}

.name__heading {
	font-size: calc(2vh + 100% * 1);

	margin: 0;
}

.name__position {
	font-size: 18px;
}

.about_me {
	flex: 1 100%;
}

.about_me__text {
	font-size: 14px;
	text-align: justify;
}

.section {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.section:not(:last-child) {
	margin-bottom: 36px;
}

.section__heading {
	display: flex;
	align-items: center;
	gap: 7px;

	font-size: 18px;
	font-weight: 600;
}

.section__link {
	white-space: pre-line;

	@media (min-width: 390px) {
		white-space: nowrap;
	}
}

.section__link.links a {
	font-weight: 600;
	text-decoration: underline;
}

.section__link.links a:not(:last-child) {
	@media (min-width: 390px) {
		padding-right: 15px;
	}
}

.section__list {
	@media (min-width: 575px) {
		columns: 2;
		column-gap: 2rem;
	}

	@media (min-width: 1400px) {
		columns: 3;
	}
}

.section__list li {
	margin-bottom: 15px
}

.experience__item {
	display: flex;
	gap: 15px;
}

.experience__item:not(:first-child) {
	margin-top: 15px;
}

.experience__period {
	font-size: 14px;
	font-weight: 600;

	@media (min-width: 1400px) {
		max-width: 85px;
	}
}

.experience__about {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.experience__company {
	font-size: 14px;
	font-style: italic;
}